# Django #
*.log
*.pot
*.pyc
__pycache__
.pytest_cache

db.sqlite3
media

# local data #
*.env
datadump.json
media
info.txt
Notebooks/*.jpg
Notebooks/*.png

# IDE #
.vscode

# Notebooks #
.ipynb_checkpoints