{% extends "articles_app/base.html" %}

{% load crispy_forms_tags %}

{% load static %}
{% block content %}

<div class="module-view">
    
    <div class="row justify-content-center selection-menu">
        <div class="btn-group" role="group" aria-label="button-group">
            <button type="button" onclick="location.href='/modules/moduleA'" class="btn btn-menu btn-mod-a">Timeseries</button>
            <button type="button" onclick="location.href='/modules/moduleB'" class="btn btn-menu btn-mod-b">Observations</button>
            <button type="button" onclick="location.href='/modules/moduleC'" class="btn btn-menu btn-mod-c">Article-generation</button>
            <button type="button" onclick="location.href='/modules/moduleD'" class="btn btn-menu btn-mod-d">Articles</button>
            <button type="button" onclick="location.href='/about'" class="btn btn-menu btn-mod-e">Uitleg</button>
        </div>
    </div>
    
    <div class="module-content">

        <section class="jumbotron text-center about-par">
            <div class="container">
                <h2>Over robotreporter</h2>
                <p class="lead text-muted">
                    Robotreporter is een generatief AI-systeem, dat zelf artikelen schrijft. Het systeem werkt met een combinatie van AI-technieken om artikelen te maken.
                    Om te demonstreren hoe de de AI werkt, wordt er beursinformatie gebruikt.
                    Het systeem bekijkt het koersverloop van alle aandelen in de Nederlandse <a href="https://nl.wikipedia.org/wiki/AMX_Index">AMX-index</a>, en maakt op basis van de koersverloop artikelen over deze aandelenkoersen.
                    De broncode is <a href="https://github.com/StanMey/Robotreporter">openbaar</a> beschikbaar via
                    <a class="logo-link" href="https://github.com/StanMey/Robotreporter">
                        <img src="{% static 'articles_app/github.PNG' %}" alt="Github logo" width="25" height="25">
                    </a>
                    .
                </p>
            </div>
        </section>

        <section class="jumbotron text-center about-par">
            <div class="container">
                <h2>Project-achtergrond</h2>
                <p class="lead text-muted">
                    Robotreporter is gemaakt door Stan Meyberg (software-ontwikkeling) en Sieuwert van Otterloo (product owner).
                    De ontwikkeling is een samenwerking tussen <a href="https://ictinstitute.nl/">ICT Institute</a> (een adviesbureau op het gebied van AI) en het <a href="https://www.hu.nl/onderzoek/artificial-intelligence">lectoraat Artificial Intelligence</a> van de Hogeschool Utrecht.
                    <br>
                    <a href="/modules/background">Lees verder</a>
                </p>
            </div>
        </section>

        <section class="jumbotron text-center about-par">
            <div class="container">
                <h2>Over het systeem</h2>
                <p class="lead text-muted">
                    Het Robotreporter-systeem bestaat uit vier modules A-D: Data, Observaties, Generatie en Resulaten.
                    <br>
                    <a href="/modules/sysabout">Lees verder</a>
                </p>
            </div>
        </section>

        <section class="jumbotron text-center about-par">
            <div class="container">
                <h2>Relevantie score</h2>
                <p class="lead text-muted">
                    Nog voordat er een artikel gegenereerd kan worden moeten er eerst observaties gedaan worden over bepaalde patronen in de data.
                    Deze observaties moeten gerangschikt kunnen worden tegenover elkaar.
                    Deze rangschikking gebeurd met behulp van de relevantie score.
                    <br>
                    <a href="/modules/relevance">Lees verder</a>
                </p>
            </div>
        </section>

        <section class="jumbotron text-center about-par">
            <div class="container">
                <h2>Situationele relevantie</h2>
                <p class="lead text-muted">
                    Om een artikel in elkaar te zetten moeten de observaties die erin worden gezet geselecteerd worden.
                    Echter, tijdens het kiezen van de observaties moeten deze observaties
                    met elkaar vergeleken kunnen worden aangezien sommige observaties wellicht beter aansluiten op specifieke observaties dan anderen.
                    <br>
                    <a href="/modules/testscores">Lees verder</a>
                </p>
            </div>
        </section>

        <section class="jumbotron text-center about-par">
            <div class="container">
                <h2>Template systeem</h2>
                <p class="lead text-muted">
                    Wanneer alle observaties voor in het artikel gekozen zijn wordt per observatie een overeenstemmende template uitgekozen.
                    Hierdoor wordt een observatie omgezet naar daadwerkelijke tekst.
                    <br>
                    <a href="/modules/templatesys">Lees verder</a>
                </p>
            </div>
        </section>

        <section class="jumbotron text-center about-par">
        <div class="container">
            <h2>Bronnen en inspiratie</h2>
            <p class="lead text-muted">
                De <a href="https://www.washingtonpost.com/pr/wp/2017/09/01/the-washington-post-leverages-heliograf-to-cover-high-school-football/">Washington Post maakt sinds 2017 al gebruik van Heliograph</a> om korte verslagen van lokale sportwedstrijden te maken. 
                Waarschijnlijk zouden de resultaten van dit soort lokale wedstrijden niet gemeld worden als er geen robotjournalist was.
                <br>
                <a href="/modules/inspirations">Lees verder</a>
            </p>
        </div>
        </section>
    </div>
</div>

<script>
    $( document ).ready(function() {
        renderModuleE();
    });
</script>

{% endblock content %}