{% extends "articles_app/base.html" %}

{% load crispy_forms_tags %}

{% load static %}
{% block content %}

<div class="module-view">
    
    <div class="row justify-content-center selection-menu">
        <div class="btn-group" role="group" aria-label="button-group">
            <button type="button" onclick="location.href='/modules/moduleA'" class="btn btn-menu btn-mod-a">Timeseries</button>
            <button type="button" onclick="location.href='/modules/moduleB'" class="btn btn-menu btn-mod-b">Observations</button>
            <button type="button" onclick="location.href='/modules/moduleC'" class="btn btn-menu btn-mod-c">Article-generation</button>
            <button type="button" onclick="location.href='/modules/moduleD'" class="btn btn-menu btn-mod-d">Articles</button>
        </div>
    </div>
    
    <div class="module-content">

        <section class="jumbotron text-center info-par">
            <div class="container">
                <h2>Wat is robotreporter</h2>
                <p class="lead text-muted">
                    Robotreporter is een generatief AI-systeem, dat zelf artikelen schrijft. Het systeem werkt met een combinatie van AI-technieken om artikelen te maken.
                    Om te demonstreren hoe de de AI werkt, wordt er beursinformatie gebruikt.
                    Het systeem bekijkt het koersverloop van alle aandelen in de Nederlandse <a href="https://nl.wikipedia.org/wiki/AMX_Index">AMX-index</a>, en maakt artikelen over deze aandelenkoersen. 
                    {% if not user.is_authenticated %}
                    <br><br>
                    Klik <a href="/modules/latest">hier</a> om een aantal voorbeeldartikelen te zien.
                    {% endif %}
                </p>
            </div>
        </section>

        <section class="jumbotron text-center info-par">
            <div class="container">
                <h2>Project-achtergrond</h2>
                <p class="lead text-muted">
                    Robotreporter is gemaakt door Stan Meyberg (software-ontwikkeling) en Sieuwert van Otterloo (product owner).
                    De ontwikkeling is een samenwerking tussen <a href="https://ictinstitute.nl/">ICT Institute</a> (een adviesbureau op het gebied van AI) en het <a href="https://www.hu.nl/onderzoek/artificial-intelligence">lectoraat Artificial Intelligence</a> van de Hogeschool Utrecht.
                    Vanuit de Hogeschool is er kennis ingebracht hoe AI-systemen effectief maar ook transparant kunnen worden ontwikkeld.
                    Dit sluit aan bij onderzoeksthema's zoals het spel <a href="https://www.ethicsinc-ontwerpspel.nl/">Ethics Inc</a>
                    en de ontwikkelde <a href="https://ictinstitute.nl/the-artificial-intelligence-impact-assessment/">AI Impact Assessment</a>.
                    Vanuit ICT Institute is er kennis ingebracht over wat voor eisen er aan AI-systemen worden gesteld in de praktijk.
                    Eén van de doelen is om mensen op een zo praktisch mogelijke manier zelf AI te laten gebruiken.
                    Het Robotreporter project zelf heeft geen winstoogmerk. Het systeem wordt opensource beschikbaar gesteld dankzij de sponsoring door ICT Institute.
                </p>
            </div>
        </section>

        <section class="jumbotron text-center info-par">
            <div class="container">
                <h2>Over het systeem</h2>
                <p class="lead text-muted">
                    Het Robotreporter-systeem bestaat uit vier modules A-D:<br>
                    <br>
                    <b>A. Data</b> - Hierin zijn de dagelijkse koersen van alle aandelen van de AMX-aandelen verzameld. Hier zou men ook andere tijdseries in kunnen inladen.<br>
                    <br>
                    <b>B. Observaties</b> - Module B speurt naar bijzondere of opvallende patronen. Dit kan zijn een stijging of daling van een enkel aandeel, of een verandering acne een meerdaagse trend of ontwikkeling in een sector. Er worden zoveel mogelijk juiste observaties verzameld.<br>
                    <br>
                    <b>C. Generatie</b> - In deze module worden alle feiten van een relevantie-score voorzien, en worden de hoogst scorende observaties samengevat in artikelen. De gebruiker die het artikel maakt kiest de settings en de titel. De slimme algoritmes doen de rest.<br>
                    <br>
                    <b>D. Resultaten</b> - Iedereen kan alle artikelen inzien, vergelijken en van commentaar voorzien.<br>
                    <br>
                    Elke module gebruikt slimme algoritmes uit de data Science en kunstmatige intelligentie. Het systeem is ontwikkeld in de programmeertaal Python en framework Django. Het is gehost bij Transip.
                </p>
            </div>
        </section>

        <section class="jumbotron text-center info-par">
        <div class="container">
            <h2>Bronnen en inspiratie</h2>
            <p class="lead text-muted">
                De <a href="https://www.washingtonpost.com/pr/wp/2017/09/01/the-washington-post-leverages-heliograf-to-cover-high-school-football/">Washington Post maakt sinds 2017 al gebruik van Heliograph</a> om korte verslagen van lokale sportwedstrijden te maken. 
                Waarschijnlijk zouden de resultaten van dit soort lokale wedstrijden niet gemeld worden als er geen robotjournalist was.
                Tijdens de <a href="https://www.washingtonpost.com/pr/wp/2016/08/05/the-washington-post-experiments-with-automated-storytelling-to-help-power-2016-rio-olympics-coverage/">Olympische spelen in Rio in 2016</a> werd er al geëxperimenteerd met dit systeem om belangrijke informatie te rapporteren.
                <br><br>
                The Guardian <a href="https://www.theguardian.com/australia-news/2019/feb/01/political-donations-plunge-to-167m-down-from-average-25m-a-year">gebruikt het systeem ReporterMate</a> voor onder andere dit artikel over financiering van politieke campagnes.
                <br><br>
                The Los Angeles Times maakt gebruik van een algoritme genaamd <a href="https://slate.com/technology/2014/03/quakebot-los-angeles-times-robot-journalist-writes-article-on-la-earthquake.html">Quakebot</a> om snel mogelijk een artikel te publiceren wanneer een aardbeving voorkomt in de regio.
                Een gegenereerde artikel bevat alle basis informatie zoals tijd, plaats en sterkte van de beving en is dus voornamelijk bedoeld om de basis informatie snel naar buiten te krijgen.
                <br><br>
                De site <a href="https://www.marketwatch.com/">Marketwatch</a> maakt gebruik van <a href="https://www.marketwatch.com/author/marketwatch-automation?mod=MW_author_byline">Marketwatch Automation</a> om automatisch aandeel relateerde berichten te genereren.
                Dit systeem is door <a href="https://automatedinsights.com/">Automated Insights</a> ontwikkeld en krijgt data binnen van de aandelenmarkt om basis van deze data een artikel te genereren.
                <br><br>
                De universiteit van <a href="https://www.northwestern.edu/"><i>Northwestern</i></a> heeft een systeem genaamd <a href="https://www.semanticscholar.org/paper/StatsMonkey%3A-A-Data-Driven-Sports-Narrative-Writer-Allen-Templon/6063b014018b6d2655053f9739613473406ff6df#paper-header">StatsMonkey</a> ontwikkeld.
                Dit systeem kan sportartikelen opstellen door naar de wedstrijddata via verschillende invalshoeken en statistieken te kijken.
                Hierdoor kan het een artikel van een wedstrijd in een context plaatsen.
                <br><br>
                Aan de universiteit van Tilburg is het <a href="https://research.tilburguniversity.edu/en/publications/pass-a-dutch-data-to-text-system-for-soccer-targeted-towards-spec">PASS</a> systeem ontwikkeld.
                Dit is een <i>data-to-text</i> systeem die een voetbalartikel kan schrijven op basis van de statistische informatie uit een wedstrijd.
                Hierbij neemt het systeem ook de beoogde lezer van het artikel mee tijdens de generatie (van welke club de lezer aanhanger is).
                <br><br>
                Om vast te stellen wat voor feiten in nieuwsberichten voorkomen, zijn er voor dit project artikelen geanalyseerd van FD.nl, marketwatch.com, rtlnieuws.nl en beleggen.nl. 
            </p>
        </div>
        </section>
    </div>
</div>

{% endblock content %}