{% extends "articles_app/base.html" %}

{% load crispy_forms_tags %}

{% load static %}
{% block content %}

<div class="container">
    <div class="article-link-back">
        <a class="header-button" href="/modules/moduleD"> &lt; Terug</a>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="article-post">
                <h2 class="article-post-title">{{ article.title }}</h2>
                <img src="{{ MEDIA_URL }}{{ article.img_source }}" height="422px" width="700px">
                <p class="article-post-info">{{ article.date_whole }} door {{ article.author }}</p>
                <p>{{ article.content }}</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8 comment-box">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Geef feedback</legend>
                    {{ comment_form | crispy }}
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-md">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="comments-tab">
                <div class="meta-button">
                    <button class="btn btn-success meta-button-style" type="button" data-toggle="collapse" data-target="#comment-collapse" aria-expanded="false" aria-controls="collapseExample">
                        v Zie commentaar
                    </button>
                </div>
                <div class="collapse" id="comment-collapse">
                    {% for comment in comments %}
                        <div class="card card-body">
                            <p class="comment-post-title">{{ comment.created_on }} door {{ comment.author }}</p>
                            <p>
                                {{ comment.body }}
                            </p>
                            <p>Score: {{ comment.score }}</p>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="meta-data">
                <div class="meta-button">
                    <button class="btn btn-success meta-button-style" type="button" data-toggle="collapse" data-target="#meta-collapse" aria-expanded="false" aria-controls="collapseExample">
                        v Metadata artikel
                    </button>
                </div>
                <div class="collapse" id="meta-collapse">
                    <div class="card card-body">
                        <p>
                            Auteur: {{ article.author}}<br>
                            Datum: {{ article.date_whole}}<br>
                            Bot versie: {{article.AI_version}}<br>
                            Handmatig geselecteerd: {{article.meta_data.manual}}<br>
                            <br>
                            <b>Focus</b><br>
                            <u>Sectoren:</u><br>
                            {{article.meta_data.filters.Sector}}<br>
                            <u>Periode:</u><br>
                            {{article.meta_data.filters.Periode}}<br>
                            <u>Relevantie:</u><br>
                                {% if article.old_format %}
                                    <!-- old format of relevance -->
                                    {{article.meta_data.relevance}}
                                {% else %}
                                    <!-- new format of relevance -->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">id</th>
                                                <th scope="col">patroon</th>
                                                <th scope="col">periode</th>
                                                <th scope="col">relevantie normaal</th>
                                                <th scope="col">relevantie context</th>
                                                <th scope="col">zin</th>
                                                <th scope="col">zie complete observatie</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for meta in meta_observs %}
                                                <tr>
                                                    <th scope="row">{{ meta.oid }}</th>
                                                    <td>{{ meta.pattern }}</td>
                                                    <td>{{ meta.period_show }}</td>
                                                    <td>{{ meta.relevance }}</td>
                                                    <td>{{ meta.rel_sit }}</td>
                                                    <td>{{ meta.observation }}</td>
                                                    <td><span class='style-link' data-toggle="collapse" onclick="showObservation({{ meta.oid }})" data-target="#{{ meta.oid }}" aria-expanded="false" aria-controls="collapseExample">bekijk</td>
                                                </tr>
                                                <tr class="collapse" id="{{ meta.oid }}-collapse">
                                                    <td colspan="7">
                                                        <p>
                                                            <h5>Complete observatie</h5>
                                                            <u>ID</u><br>
                                                            {{ meta.oid }}<br>
                                                            <u>Serie</u><br>
                                                            {{ meta.serie }}<br>
                                                            <u>Periode</u><br>
                                                            {{ meta.period_show }}<br>
                                                            <u>Patroon</u><br>
                                                            {{ meta.pattern }}<br>
                                                            <u>Sector</u><br>
                                                            {{ meta.sector }}<br>
                                                            <u>Observatie</u><br>
                                                            {{ meta.observation }}<br>
                                                            <u>Percentele verandering</u><br>
                                                            {{ meta.perc_change }}<br>
                                                            <u>Absolute verandering</u><br>
                                                            {{ meta.abs_change }}<br>
                                                            <u>Normale relevantie</u><br>
                                                            {{ meta.relevance }}<br>
                                                            <u>Context relevantie</u><br>
                                                            {{ meta.rel_sit }}<br>
                                                            <u>Extra meta data</u><br>
                                                            {{ meta.meta }}<br>
                                                        </p>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}