{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="nlg, journalistiek, robot, data">
    <meta name="description" content="Een robot reporter voor het geautomatiseerd schrijven van artikelen voor de beurs">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- d3.js -->
    <script src="https://d3js.org/d3.v5.js"></script>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <!-- MultiSelect -->
    <script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
    <link href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet"/>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'articles_app/main.css' %}">
    <script src="{% static 'articles_app/main.js' %}"></script>

    <title>RobotReporter</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'articles_app/robot.png' %}"/>
</head>
<body>

  <div class="container">
    <header class="page-header">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1 left-side-header">
          <a class="navbar-brand" href="/">
            <!--<div>Icons made by <a href="https://www.flaticon.com/authors/darius-dan" title="Darius Dan">Darius Dan</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
            <img src="{% static 'articles_app/robot.png' %}" alt="Robotreporter logo" width="55" height="55">
          </a>
        </div>
        <div class="col-4 text-center">
          {% if user.is_authenticated %}
          <a class="page-header-logo text-dark" href="/module/overview/">RobotReporter</a>
          {% else %}
          <a class="page-header-logo text-dark" href="/">RobotReporter</a>
          {% endif %}
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center right-side-header">
          {% if user.is_authenticated %}
          <a class="header-button" href="{% url 'profile' %}">{{ user.username }}</a>/
          <a class="header-button" href="{% url 'logout' %}">Log out</a>
          {% else %}
          <a class="header-button" href="{% url 'login' %}">Log in</a>/
          <a class="header-button" href="{% url 'register' %}">Sign up</a>
          {% endif %}
        </div>
      </div>
    </header>
  </div>
  

  <main role="main" class="container-fluid main-content">
          {% if messages %}
          <div class="row"></div>
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
          {% endif %}
        {% block content %}{% endblock %}
  </main>
  
      <!-- Optional JavaScript -->
      <!-- Popper.js, then Bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
  
  </html>