{% extends "articles_app/base.html" %}

{% load static %}
{% block content %}
<section class="text-center priv-par privacy-title">
    <h2>Privacyverklaring</h2>
    <p class="lead text-muted">
        Dit is de privacyverklaring van de website van het project Robotreporter.
        Hierin leggen we onder meer uit welke gegevens verzameld worden, hoe deze gebruikt worden en welke rechten u heeft als wij uw gegevens verwerken.
    </p>
</section>

<section class="jumbotron text-center priv-par">
    <div class="container">
        <div class="priv-item">
            <h3>Wie zijn wij?</h3>
            <p class="lead text-muted">
                Robotreporter is een generatief AI-systeem, dat zelf artikelen schrijft.
                Dit systeem wordt ontwikkeld door Stan Meyberg (software-ontwikkeling) en Sieuwert van Otterloo (product owner).
                De ontwikkeling is een samenwerking tussen <a href="https://ictinstitute.nl/">ICT Institute</a> (een adviesbureau op het gebied van AI) en het <a href="https://www.hu.nl/onderzoek/artificial-intelligence">lectoraat Artificial Intelligence</a> van de Hogeschool Utrecht.
            </p>
        </div>

        <div class="priv-item">
            <h4>Privacy</h4>
            <p class="lead text-muted">
                Op de website van Robotreporter is het gebruik van cookies, trackers of andere tracking technology geminimaliseerd.
                Robotreporter houdt ook geen bezoeker statistieken bij.
            </p>
        </div>

        <div class="priv-item">
            <h4>Security</h4>
            <p class="lead text-muted">
                Op de website van Robotreporter zijn veiligheidsmaatregelen genomen om een passend beveiligingsniveau te waarborgen.
            </p>
        </div>
    </div>
</section>

<section class="jumbotron text-center priv-par">
    <div class="container">
        <h3>Cookies</h3>
        <p class="lead text-muted">
            Bezoekt u onze website, dan verwerken wij uw inloggegevens met cookies.
            We gebruiken technische cookies om de website te laten functioneren.
            Voor meer informatie over cookies kunt u <a href="/cookies">deze link</a> volgen.
        </p>
    </div>
</section>

<section class="jumbotron text-center priv-par">
    <div class="container">
        <div class="priv-item">
            <h3>Welke gegevens verzamelen en gebruiken we?</h3>
            <p class="lead text-muted">
                Wanneer u op de site komt heeft u de mogelijkheid om uzelf in te loggen of te registreren.
                Hierbij geeft u zelf een gebruikersnaam, email en wachtwoord op.
                Dit zijn de enige gegevens die verzameld worden en deze gegevens worden dan ook met niemand gedeeld.
            </p>
        </div>

        <div class="priv-item">
            <h4>Wat zijn uw rechten?</h4>
            <p class="lead text-muted">
                U heeft een aantal privacyrechten.
                U kunt ons bijvoorbeeld vragen welke gegevens wij van u verwerken.
                En als de gegevens niet kloppen, die laten verbeteren.
                Ook kunt u ons in sommige gevallen vragen om uw gegevens te wissen, over te dragen of de verwerking van uw gegevens te beperken.<br>

                Tot slot kunt u bezwaar maken tegen de verwerking van uw gegevens.
                En bent u het niet eens met hoe wij uw gegevens verwerken?
                Dan kunt u een privacyklacht bij ons <a href="mailto: stan.meyberg@student.hu.nl">melden</a>.
            </p>
        </div>
    </div>
</section>

{% endblock content %}