{% extends "articles_app/base.html" %}

{% load crispy_forms_tags %}

{% load static %}
{% block content %}

<div class="container">
    <div class="article-link-back">
        <a class="header-button" href="/about"> &lt; Terug</a>
    </div>

    <div class="container text-center extra-par">
        <h2>Bronnen en inspiratie</h2>
        <p class="lead">
            De <a href="https://www.washingtonpost.com/pr/wp/2017/09/01/the-washington-post-leverages-heliograf-to-cover-high-school-football/">Washington Post maakt sinds 2017 al gebruik van Heliograph</a> om korte verslagen van lokale sportwedstrijden te maken. 
            Waarschijnlijk zouden de resultaten van dit soort lokale wedstrijden niet gemeld worden als er geen robotjournalist was.
            Tijdens de <a href="https://www.washingtonpost.com/pr/wp/2016/08/05/the-washington-post-experiments-with-automated-storytelling-to-help-power-2016-rio-olympics-coverage/">Olympische spelen in Rio in 2016</a> werd er al geëxperimenteerd met dit systeem om belangrijke informatie te rapporteren.
            <br><br>
            The Guardian <a href="https://www.theguardian.com/australia-news/2019/feb/01/political-donations-plunge-to-167m-down-from-average-25m-a-year">gebruikt het systeem ReporterMate</a> voor onder andere dit artikel over financiering van politieke campagnes.
            <br><br>
            The Los Angeles Times maakt gebruik van een algoritme genaamd <a href="https://slate.com/technology/2014/03/quakebot-los-angeles-times-robot-journalist-writes-article-on-la-earthquake.html">Quakebot</a> om snel mogelijk een artikel te publiceren wanneer een aardbeving voorkomt in de regio.
            Een gegenereerde artikel bevat alle basis informatie zoals tijd, plaats en sterkte van de beving en is dus voornamelijk bedoeld om de basis informatie snel naar buiten te krijgen.
            <br><br>
            De site <a href="https://www.marketwatch.com/">Marketwatch</a> maakt gebruik van <a href="https://www.marketwatch.com/author/marketwatch-automation?mod=MW_author_byline">Marketwatch Automation</a> om automatisch aandeel relateerde berichten te genereren.
            Dit systeem is door <a href="https://automatedinsights.com/">Automated Insights</a> ontwikkeld en krijgt data binnen van de aandelenmarkt om basis van deze data een artikel te genereren.
            <br><br>
            De universiteit van <a href="https://www.northwestern.edu/"><i>Northwestern</i></a> heeft een systeem genaamd <a href="https://www.semanticscholar.org/paper/StatsMonkey%3A-A-Data-Driven-Sports-Narrative-Writer-Allen-Templon/6063b014018b6d2655053f9739613473406ff6df#paper-header">StatsMonkey</a> ontwikkeld.
            Dit systeem kan sportartikelen opstellen door naar de wedstrijddata via verschillende invalshoeken en statistieken te kijken.
            Hierdoor kan het een artikel van een wedstrijd in een context plaatsen.
            <br><br>
            Aan de universiteit van Tilburg is het <a href="https://research.tilburguniversity.edu/en/publications/pass-a-dutch-data-to-text-system-for-soccer-targeted-towards-spec">PASS</a> systeem ontwikkeld.
            Dit is een <i>data-to-text</i> systeem die een voetbalartikel kan schrijven op basis van de statistische informatie uit een wedstrijd.
            Hierbij neemt het systeem ook de beoogde lezer van het artikel mee tijdens de generatie (van welke club de lezer aanhanger is).
            <br><br>
            Om vast te stellen wat voor feiten in nieuwsberichten voorkomen, zijn er voor dit project artikelen geanalyseerd van FD.nl, marketwatch.com, rtlnieuws.nl en beleggen.nl. 
        </p>
    </div>
</div>

{% endblock content %}