{% extends "articles_app/base.html" %}

{% load static %}
{% block content %}

<div class="container">
    <div class="article-link-back">
        <a class="header-button" href="/about"> &lt; Terug</a>
    </div>
    <div class="row justify-content-center algo-expl">
        <div class="col text-center">
            <h2>Situationele relevantie</h2>
            <p>
                Tijdens het genereren van een artikel worden een aantal processen uitgevoerd.
                Allereerst worden er observaties gedaan over bepaalde patronen in de data.
                Deze observaties krijgen allemaal een op zichzelf staande <a href="/modules/relevance">relevantie score</a> toegewezen.
                <br><br>
                Echter, tijdens het kiezen van de observaties (<a href="https://en.wikipedia.org/wiki/Content_determination">content determination</a>) moeten deze observaties
                ook met elkaar vergeleken kunnen worden aangezien sommige observaties wellicht beter aansluiten op specifieke observaties dan anderen.
                Hiervoor wordt de <b>situationele relevantie</b> geïntroduceerd.
                <br><br>

                
                De situationele relevantie is de vooraf bepaalde relevantie score die gecorrigeerd wordt met een bepaalde weight die de fitheid van de opeenvolging van twee observaties aangeeft.
                Tijdens het selecteren van de observaties wordt de nieuw gekozen observatie vergeleken met de tot dusver gekozen observaties.
                De vooraf bepaalde relevantie score van de andere observaties worden dan gecorrigeerd op basis van hoe goed deze passen op de zonet gekozen observatie.
                De observaties worden vergeleken op basis van patroon (zin), periode en serie:
                <div class="text-left">
                    <ul>
                        <li>Zin</li>
                            <ul>
                                <li>Hetzelfde: De twee patronen zijn identiek (zh)</li>
                                <li>Vergelijkbaar: De twee patronen zijn vergelijkbaar (bijvoorbeeld: indiv-stijging en combi-stijging) (zv)</li>
                                <li>Ongelijk: De patronen zijn anders en komen niet overeen (zo)</li>
                            </ul>
                        <li>Periode</li>
                            <ul>
                                <li>Identiek: De begin en einddatum zijn hetzelfde (pi)</li>
                                <li>Overlappend: De twee observaties overlappen elkaar (pov)</li>
                                <li>Opvolgend: De twee observaties volgen elkaar op (pop)</li>
                                <li>Anders: De twee observaties zijn van elkaar verwijderd (pa)</li>
                            </ul>
                        <li>Serie</li>
                            <ul>
                                <li>Hetzelfde: De componenten zijn hetzelfde (sh)</li>
                                <li>Vergelijkbaar: De componenten liggen in dezelfde sector (sv)</li>
                                <li>Anders: De componenten hebben niks met elkaar te maken (sa)</li>
                            </ul>
                    </ul>
                </div>
            </p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col text-center">
            <h4>Neuraal netwerk</h4>
            <p>
                Om te proberen de onderlinge verhoudingen tussen observaties te leren (of een observatie beter op de ene of de andere observatie past)
                is een dataset aangemaakt met 200 test cases erin. Per test case zijn er 2 observaties met een doelscore ingezet.
                In iedere case worden de observaties met elkaar vergeleken en op basis van deze vergelijkingen en de doelscore wordt een <a href="https://ictinstitute.nl/ai-machine-learning-and-neural-networks-explained/">neuraal netwerk</a> getraind.
                Het idee erachter is dat het netwerk 'leert' wanneer observaties goed op elkaar aansluiten en wanneer juist niet.
                <br><br>
                Het neurale netwerk neemt de vergelijkingen tussen de observaties in als input en geeft uiteindelijk een getal tussen de -1 en 1 terug.
                Met behulp van dit getal wordt hierna de eerder genoemde relevantie score bijgesteld en wordt het hierdoor als het ware een situationele relevantie score.
                Hieronder worden per combinatie per vergelijkingen de scores weergegeven waarmee een observatie mee bijgewerkt zou worden.
                <br><br>
            </p>
            <div class="row justify-content-center matrix-showcase">

            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col text-center">
            <h4>De test cases</h4>
            <p>
                Hieronder worden de test cases weergegeven die gebruikt worden om de matrix te trainen.
                Per rij worden twee observaties neergezet met daarachter de gelijkenis op basis van patroon, periode en serie.
                Daarna wordt de score die het getrainde netwerk geeft aan de combinatie getoond.
                Uiteindelijk wordt de score van de matrix als laatste weergegeven.
            </p>
        </div>
    </div>

    <div class="row justify-content-center h-40 w-100 test-score-table">

    </div>
</div>

<script>
    $( document ).ready(function() {
        showTestScores();
    });
</script>
{% endblock content %}